* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

a {
  color: #396684;
}

.button {
  background: #43799c;
  border: none;
  border-bottom: 2px solid #396684;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  padding: .8rem;
  transition: background .3s ease;
  cursor: pointer;

  &:hover {
    background: #396684;
  }
  &--secondary {
    background: #888888;
    border-bottom: 2px solid #717171;
    &:hover {
      background: #6E6E6E;
    }
  }
}

.empty-message {
  font-weight: 600;
  text-align: center;
  margin: 3.2rem 0;
}




